.header {
    text-align: center;
    padding-top: 70px;
}
.header small {
    color: var(--main-color);
    display: inline-block;
    font-size: 0.8rem;
    font-family: "SpaceGrotesk-Medium";
    position: relative;
}
.header small::after,
.header small::before {
    position: absolute;
    top: 50%;
    right: -60px;
    transform: translateY(-50%);
    width: 50px;
    height: 2px;
    background-color: var(--main-color);
    content: "";
}
.header small::before {
    left: -60px;
}

.header h2 {
    color: var(--title-color);
    font-size: 2.7rem;
    width: min(600px, 100%);
    margin: auto;
    margin-top: 10px;
}

@media (max-width: 800px) {
    .header h2 {
        font-size: 1.7rem;
    }
}
